<div class="p-container">
    <div class="p-grid">
        <div class="p-col"></div>
        <div class="p-col  p-col1 p-col-align-center">
            <form [formGroup]="userData" (ngSubmit)="logData()">
                <div class="p-grid ">
                    <div class="p-col">
                        <label for="lastname">Nom:</label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" formControlName="lastname" pInputText id="lastname" placeholder="nom">

                        </div> <span class="text-danger" *ngIf="userData.controls.lastname?.errors && (userData.controls.lastname?.touched || userData.controls.lastname?.dirty)">
                                Le champ nom est requis.
                              </span>
                    </div>
                    <div class="p-col">
                        <label for="firstname">Prenom:</label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" formControlName="firstname" id="firstname" pInputText placeholder="prenom">
                        </div>
                        <span class="text-danger" *ngIf="userData.controls.firstname?.errors && (userData.controls.firstname?.touched || userData.controls.firstname?.dirty)">
                            Le champ nom est requis.
                          </span>
                    </div>
                </div>

                <div class="p-grid">
                    <div class="p-col">
                        <label for="email">Email:</label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                            <input type="email" formControlName="email" pInputText id="email" placeholder="email">
                        </div>
                        <span class="text-danger" *ngIf="userData.controls.email?.errors && (userData.controls.email?.touched || userData.controls.email?.dirty)">
                            Le champ nom est requis.
                          </span>
                    </div>

                    <div class="p-col">
                        <label for="sessionDate">Choisissiez une date de début:</label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                            <p-calendar dateFormat="dd.mm.yy" id="sessionDate" formControlName="sessionDate"></p-calendar>
                        </div>
                        <span class="text-danger" *ngIf="userData.controls.sessionDate?.errors && (userData.controls.sessionDate?.touched || userData.controls.sessionDate?.dirty)">
                            Le champ nom est requis.
                          </span>
                    </div>
                </div>
                <div class="">

                    <button pButton [disabled]="!userData.valid" type="submit" label="Click" class="ui-button-success ui-button-rounded"></button>
                </div>
            </form>

        </div>
    </div>
</div>