.p-container {
    height: 80vh;
    background-image: linear-gradient(to right, rgba(85, 61, 61, 0.089) 0%, rgba(252, 252, 252, 0.89) 100%), url('/assets/5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    ;
}

label {
    font-size: 105%;
    padding: 0.5em;
}

.text-danger {
    color: #d50000;
}

.p-col1 {
    padding-top: 10%;
}