<div class="container">
    <div style="display: flex; justify-content:center; align-content: center; flex-wrap:wrap">
        <div *ngFor="let tox of molecules" class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" [style.background-image]="'url('+tox.moleculeImage+')'" style="background-size:cover; background-repeat:no-repeat">

                </div>
                <div v class="flip-card-back">
                    <h5 class="card-title"> {{ tox.moleculeName }}</h5>
                    <h6 class="card-subtitle">{{ tox.moleculeClasse}}</h6>
                    <p class="card-description">{{ tox.moleculeDescription }}</p>
                    <a class="btn btn-danger" (click)="deleteMol(tox.id)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO
-- Add navbar or something like that
-- flipping cards like dark side of molecules
-->