<div class="container">
    <div style="display: flex; justify-content:center; align-content: center; flex-wrap:wrap">
        <div *ngFor="let tox of molecules" class="card" style="width: 18rem; margin:1em;">
            <img src="{{tox.moleculeImage}}" class="card-img-top">

            <div class="card-body">
                <h5 class="card-title"> {{ tox.moleculeName }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ tox.moleculeClasse}}</h6>
                <p class="card-text">{{ tox.moleculeDescription }}</p>
                <a class="btn btn-danger" (click)="deleteMol(tox.id)">Delete</a>
            </div>
        </div>
    </div>

</div>

<!-- TODO
-- Add navbar or something like that
-- flipping cards like dark side of molecules
-->